@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
    list-style: none;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.616);
}

nav i{
    font-size: 30px;
    color: #f39c12;
    width: 50%;
}

nav span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.hero{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero h1{
    font-size: 40px;
    width: 500px;
    margin-bottom: 10px;
}

.hero h3{
    width: 400px;
    margin-bottom: 20px;
}

.hero button{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: 2px solid #f39c12;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 20px;
    transition: 0.5s;
}



.hero button:hover{
    color: white;
    background-color: #f39c12;
    
}

.categories{
    margin-top: 100px;
}

.categories h2{
    text-align: center;
    font-size:30px;
}

.orange{
    color: #f39c12;
}

.categories .cat-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.categories .cat-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 300px;
    margin: 20px;
    background-color: #fdfdfd;
    border-radius: 10px;
    border: 5px solid #f39c12;
    box-shadow: 0px 0px 0px 5px #f39d1236;
}


.categories .cat-container div img{
    height: 150px;
    width: 90%;
    object-fit: cover;
    border-radius: 10px;
}

.categories .cat-container div h3{
    font-size: 25px;
}

.categories .cat-container div button{
    font-size: 20px;
    padding: 5px 50px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid #f39c12;
    color: #f39c12;
    cursor: pointer;
    margin-bottom: 10px;
}

.categories .cat-container div button:hover{
    color: white;
    background-color: #f39c12;
}

.shop{
    margin: 100px 100px;
    
}

.shop h3{
    font-size: 30px;
    text-align: center ;
}

.shop .shop-cat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.shop .shop-cat div{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 0px 10px #f39d122c;
}

.shop button{
    display: flex;
    align-items: center;
    background-color: #f39c12;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.shop button i{
    color: white;
    font-size: 25px;
    margin-left: 10px;
}

.shop .shop-cat div img{
    height: 200px;
    width: 80%;
    object-fit: cover;
    margin: 20px ;
    border-radius: 10px;
}

.shop .shop-cat div button{
    font-size: 20px;
    padding: 5px 30px;
    margin-bottom:30px ;
    background-color: #f39c12;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none    ;
}

.shop .shop-cat div .cost{
    color: #2ecc71;
    margin-bottom: 10px;
}

.shop .shop-cat div button i{
    color: white;
}
